#idea
.idea
*.iml
*.ipr
*.iws
out

#gradle
.gradle
build

#flow
flow-*
tmp

#testProjects - android
bin/
gen/
testProjects/android/android-*/test
local.properties
proguard-project.txt
AndroidManifest.xml.orig

#testProjects - iOS
xcuserdata/
project.xcworkspace

#other
userHome
