testProjects/android/test/Robotium/gen
log
testProjects/android*/gen
testProjects/android*/avds
testProjects/android*/libs
testProjects/android*/srcTmp
testProjects/android*/subproject/gen
testProjects/android*/subproject/subsubproject/gen
testProjects/documentation/*/build.xml
testProjects/documentation/*/proguard.cfg
testProjects/documentation/ameba-android-test/test/android/proguard.cfg
testProjects/*/build
testProjects/*/gen
testProjects/*/ota
testProjects/*/bin
testProjects/android*/test/*/libs
testProjects/android*/test/*/build
proguard-project.txt
local.properties
.gradle
/bin
/build/
/tmp
/.classpath
/*.hprof
/.settings*
/tmpCopy
/coverage.ec

*\.orig

# Intellij IDEA
*.ipr
*.iws
*.iml
\.idea
/out

