<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon-72.png</string>
				<string>Icon-Small-50.png</string>
				<string>Icon-Small.png</string>
				<string>Icon-Small@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>pl.polidea.gview</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>useStaticData</key>
	<false/>
	<key>supportOffline</key>
	<true/>
	<key>env</key>
	<string>DEV</string>
	<key>LOG_LEVEL</key>
	<string>DEBUG</string>
	<key>esbServiceHost</key>
	<dict>
		<key>DEV</key>
		<string>https://b2bqa.gene.com/esb/invoke/GneENT_Dispatcher.Services/invokeDispatcher?cType=json</string>
		<key>SQA</key>
		<string>https://b2bqa.gene.com/esbitDispatcher?cType=json</string>
		<key>UAT</key>
		<string>https://b2bua.gene.com/esbDispatcher?cType=json</string>
		<key>PRD</key>
		<string>https://b2b.gene.com/esbDispatcher?cType=json</string>
	</dict>
	<key>apiKey</key>
	<dict>
		<key>DEV</key>
		<string>d4474cf2a5ab61971196763441d</string>
		<key>SQA</key>
		<string>d4474cf2a5ab61971196763441d</string>
		<key>UAT</key>
		<string>fc447464202c7ab312062dff866</string>
		<key>PRD</key>
		<string>fc447464202c7ab312062dff866</string>
	</dict>
	<key>UpgradeURL</key>
	<dict>
		<key>DEV</key>
		<string>https://b2bdev.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
		<key>SQA</key>
		<string>https://b2bqa.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
		<key>UAT</key>
		<string>https://b2bua.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
		<key>PRD</key>
		<string>https://b2b.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
	</dict>
	<key>appDesc</key>
	<string>gView</string>
	<key>appCopyright</key>
	<string>© 2010, Genentech Inc</string>
	<key>CFBundleURLTypes</key>
	<array>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>SPECIFY YOUR OWN Scheme</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLName</key>
				<string>com.gene.${PRODUCT_NAME:rfc1034identifier}</string>
			</dict>
		</array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SPECIFY YOUR OWN Scheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gene.${PRODUCT_NAME:rfc1034identifier}</string>
		</dict>
	</array>
	<key>LoginViewColor</key>
	<dict>
		<key>loadingIndicatorColor</key>
		<string>White</string>
		<key>navigationBarColor</key>
		<string>4F3114</string>
		<key>backgroundColor</key>
		<string>98754A</string>
	</dict>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
</dict>
</plist>
